@import "./variables";
@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");

body {
  font-family: "Delius", serif;
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .show_middle_with_navbar {
    height: calc(100vh - 64px);
  }
}
/* Style for the entire scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Style for the track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #ffff00;
}

/* Style for the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #3498db;
  transition: background-color 0.3s ease;
}

/* Hover effect for the thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background: #2980b9;
}

/* Optional: Style for the corner where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
  background: #ffff00;
}
// Style for Rating Stars of Product Card
.style-module_emptyIcons__Bg-FZ {
  display: flex !important;
}
