/* styles/mode.scss */
:root {
    --bg-color: #e4e8f3;
    --text-color: #000000;
  }
  
  [data-theme="dark"] {
    --bg-color: #010921;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  